@model TimelyGreetingsLite.Models.Upload

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Index", "Upload", new { greetId = ViewBag.GreetingID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
        <input type="file" name="postedFile" />
        <hr />
        <input type="submit" value="Upload" />
        <br />
        <span style="color:green">@ViewBag.Message</span>
    }
</div>
