@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Timely Greetings allows the user to create electronic greetings and schedule thier delivery to multiple recipients for any occassion.</p>
