@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Miles Of Web Service<br />
    Mesa, AZ 85207-2852<br />
    <abbr title="Phone">P:</abbr>
    480 980-8110
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:milesofwebservice@mws.phxcoxmail.com">Miles of Web Service Support</a><br />
    
</address>